<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="98f367">  <td>20/01/21 12:17:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Balance_enquiry_tests.start()[pri:0, instance:Balance_Enquiry_Tab.Balance_enquiry_tests@7dc0f706]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@794075965</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/01/21 12:17:25</td>   <td>6657</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Balance_enquiry_tests.a_View_BalanceEnquiryTab()[pri:0, instance:Balance_Enquiry_Tab.Balance_enquiry_tests@7dc0f706]">a_View_BalanceEnquiryTab</td> 
  <td>main@794075965</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/01/21 12:17:25</td>   <td>6906</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Balance_enquiry_tests.b_Click_BalanceEnquiryTab()[pri:0, instance:Balance_Enquiry_Tab.Balance_enquiry_tests@7dc0f706]">b_Click_BalanceEnquiryTab</td> 
  <td>main@794075965</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/01/21 12:17:25</td>   <td>7478</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Balance_enquiry_tests.c_EnterMSISDN()[pri:0, instance:Balance_Enquiry_Tab.Balance_enquiry_tests@7dc0f706]">c_EnterMSISDN</td> 
  <td>main@794075965</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/01/21 12:17:25</td>   <td>7578</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Balance_enquiry_tests.d_Enquire_Balance()[pri:0, instance:Balance_Enquiry_Tab.Balance_enquiry_tests@7dc0f706]">d_Enquire_Balance</td> 
  <td>main@794075965</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/01/21 12:17:28</td>   <td>9795</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Balance_enquiry_tests.e_VerifyEnquiry()[pri:0, instance:Balance_Enquiry_Tab.Balance_enquiry_tests@7dc0f706]">e_VerifyEnquiry</td> 
  <td>main@794075965</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/01/21 12:17:29</td>   <td>10624</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Balance_enquiry_tests.stop()[pri:0, instance:Balance_Enquiry_Tab.Balance_enquiry_tests@7dc0f706]">&lt;&lt;stop</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@794075965</td>   <td></td> </tr>
</table>
